# When someone with admin or owner permissions has enabled required reviews,
# they also can optionally require approval from a code owner before the author 
# can merge a pull request in the repository. The Network Operations group most like owns
# this repository, with the Development group able to author and push pull requests.

# In a true org structure, this line would be something like: "app-fqdn-rules.tf @<secops>"
app-fqdn-rules.tf @<secops>

# In a true org structure, these files should have the Network Operators account as the owner:
aws.tf @<netops>
main.tf @<netops>
provider.tf @<netops>
variables.tf @<netops>
versions.tf @<netops>
