# When someone with admin or owner permissions has enabled required reviews,
# they also can optionally require approval from a code owner before the author 
# can merge a pull request in the repository. The operations-group most like owns
# this repository, with the development-group able to author and push pull requests.

# In a true org structure, this line would be something like: "fqdn-rules.tf @security-group"
# For this demo, this doesn't work because you can't author and review the same PR.
app-fqdn-rules.tf @umair-secops

# In a true org structure, I'd suggest there would also be:
aws.tf @hoodbu
main.tf @hoodbu
provider.tf @hoodbu
variables.tf @hoodbu
versions.tf @hoodbu
